<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mapper.ChatMapper">

	<insert id="createRoom">
	insert into CHATROOM(Member_email, PRO_USER_email, CLASS_class_id)
	values (#{Member_email}, #{PRO_USER_email}, #{CLASS_class_id})
	</insert>

	<insert id="saveChat">
		insert into MESSAGE
	</insert>



<!-- 	<update id=""></update> -->
<!-- 	<delete id=""></delete> -->
<!-- 	<select id=""></select> -->

</mapper>