<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mapper.ChatMapper">

	<insert id="createRoom">
	insert into CHATROOM(Member_email, PRO_USER_email, CLASS_class_id)
	values (#{Member_email}, #{PRO_USER_email}, #{CLASS_class_id})
	</insert>


	<insert id="saveRoom">
		insert into CHATROOM(session_name) values(#{roomId})
	</insert>
	<insert id="joinUser">
		insert into CHATROOMJOIN(account_id, pro_id,room_id) values (#{member_id}, #{pro_id},
		                                                             (select room_id from CHATROOM where session_name = #{roomdId}))
	</insert>
	<select id="getChatMessage">
		select * from MESSAGE where roomId = (select room_id from CHATROOM where session_name = #{roomdId})
	</select>

	<select id="findByChatRoom">
		select * from CHATJOINROOM where roomId = (select room_id from CHATROOM where session_name = #{roomdId})
	</select>



<!-- 	<update id=""></update> -->
<!-- 	<delete id=""></delete> -->
<!-- 	<select id=""></select> -->

</mapper>