<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.member.MemberMapper">

	<insert id="insertMember">
	insert into ACCOUNTS(id,name,email,password,kakao_id)
	values(#{id},#{name},#{email},#{password},#{kakao_id})
	</insert>

	<select id="userCheck" resultType="com.itwillbs.domain.MemberDTO">
		select * from ACCOUNTS where password=#{password} and email=#{email}
	</select>

	<select id="getMember" resultType="com.itwillbs.domain.MemberDTO">
		select * from ACCOUNTS where id=#{id}
	</select>
	
	<update id="updateName">
		update ACCOUNTS set name=#{name} where id=#{id}
	</update>
	
	<update id="updateEmail">
		update ACCOUNTS set email=#{email} where id=#{id}
	</update>
	
	<update id="updatePass">
		update ACCOUNTS set password=#{password} where id=#{id}
	</update>
	
	<delete id="deleteMember">
		delete from ACCOUNTS where id=#{id}
	</delete>

	<select id="selectMemberE" resultType="com.itwillbs.domain.MemberDTO">
		select * from ACCOUNTS where email=#{email}
	</select>

</mapper>