<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.member.ProMapper">

	<insert id="insertMember">
		insert into PROS(serviceId,addressId,genderId,name,pass,email,phone,career,employees,identity,business,certificate)
		values(#{serviceId},#{addressId},#{genderId},#{name},#{pass},#{email},#{phone},#{career},#{employees},#{identity},
			   #{business},#{certificate})
	</insert>
	
<!-- 	<select id="ProCheck" resultType="com.itwillbs.domain.ProDTO"> -->
<!-- 		select * from PROS where services_id=#{services_id} and address_id=#{address_id} and name=#{name} and email=#{email} and -->
<!-- 		phone=#{phone} and career = #{career} and employees = #{employees} and identity = #{identity} and business = #{business } -->
<!-- 	</select> -->
	
	<select id="proCheck" resultType="com.itwillbs.domain.ProDTO">
		select * from PROS where id = 8 
	</select>

<!-- 	<update id=""></update> -->
<!-- 	<delete id=""></delete> -->
<!-- 	<select id=""></select> -->

</mapper>