<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.member.ProMapper">

	<insert id="insertPro">
		insert into PROS(services_id,gender_id,name,password,email,phone,address_id)
		values(#{services_id},#{gender_id},#{name},#{password},#{email},#{phone},#{address_id})
	</insert>
	
	<select id="proCheck" resultType="com.itwillbs.domain.ProDTO">
		select * from PROS where password=#{password} and email=#{email} 
	</select>
	
	<insert id="insertAddress">
		insert into ADDRESS(cities_id,districts_id,addistricts_id,address_detail,x_axis,y_axis) 
		values(#{city_id},#{district_id},#{addistrict_id},#{addressdetail},#{x_axis},#{y_axis})
	</insert>
	
	<select id="getCity" resultType="com.itwillbs.domain.CityDTO">
		select * from CITIES where name=#{city}
	</select>
	
	<select id="getDistrict" resultType="com.itwillbs.domain.DistrictDTO">
		select * from DISTRICTS where name=#{district} and city_id=#{city_id}
	</select>
	
	<select id="getAddDistrict" resultType="com.itwillbs.domain.AddistrictDTO">
		select * from ADDISTRICTS where name=#{addistrict} and district_id=#{district_id}
		
		
	</select>
	
	<select id="getMaxAddrId" resultType="java.lang.Integer">
		select MAX(id) from ADDRESS
	</select>
	
	<select id="getPro" resultType="com.itwillbs.domain.ProDTO">
		select * from PROS where email=#{email}
	</select>
	
	<select id="getProi" resultType="com.itwillbs.domain.ProDTO">
		select * from PROS where id=#{id}
	</select>
	
	<select id="getProid" resultType="com.itwillbs.domain.GetProDTO">
		select p.id, p.name, p.email, p.phone, p.career, p.employee_number, p.identify, p.business,p.certificate,p.date,
				a.x_axis,a.y_axis,c.name city_name,d.name district_name,ad.name addistrict_name, m.name maincat_name,se.name seccat_name,s.name service_name
		from PROS p left join ADDRESS a on p.address_id=a.id 
		left join CITIES c on c.id=a.cities_id 
		left join DISTRICTS d on d.id=a.districts_id
		left join ADDISTRICTS ad on ad.id=a.addistricts_id
		left join SERVICES s on s.id=p.services_id
		left join SECCATEGORY se on se.id=s.seccat_id
		left join MAINCATEGORY m on m.id=se.maincat_id
		where p.id=#{id}
	</select>
	
	<select id="getProemail" resultType="com.itwillbs.domain.GetProDTO">
		select p.id, p.name, p.email, p.phone, p.career, p.employee_number, p.identify, p.business,p.certificate,p.date,
				a.x_axis,a.y_axis,c.name city_name,d.name district_name,ad.name addistrict_name, m.name maincat_name,se.name seccat_name,s.name service_name
		from PROS p left join ADDRESS a on p.address_id=a.id 
		left join CITIES c on c.id=a.cities_id 
		left join DISTRICTS d on d.id=a.districts_id
		left join ADDISTRICTS ad on ad.id=a.addistricts_id
		left join SERVICES s on s.id=p.services_id
		left join SECCATEGORY se on se.id=s.seccat_id
		left join MAINCATEGORY m on m.id=se.maincat_id
		where p.email=#{email}
	</select>
	
	<select id="getEstimate" resultType="com.itwillbs.domain.GetEstimateDTO">
		select e.estimates_id,e.question_id,e.answer_id,q.services_id,q.contents question_cont,a.contents answer_cont,p.id pro_id,p.address_id,ac.id account_id
		from ESTIMATESMID e
		left join QUESTIONS q on q.id=e.question_id
		left join ANSWERS a on a.id=e.answer_id
		left join ESTIMATES es on es.id=e.estimates_id
		left join PROS p on p.id=es.pro_id
		left join ACCOUNTS ac on ac.id=es.account_id
		where q.services_id=#{services_id}
		order by estimates_id;
<!-- 		limit #{startRow},#{pageSize} -->
<!-- 		where p.services_id=#{services_id} -->
	</select>
	
	<select id="getEstimateCount" resultType="java.lang.Integer">
		select count(*) from
		(select count(*), e.estimates_id,e.question_id,e.answer_id,q.services_id,q.contents question_cont,a.contents answer_cont
		from ESTIMATESMID e
		left join QUESTIONS q on q.id=e.question_id
		left join ANSWERS a on a.id=e.answer_id
		left join ESTIMATES es on es.id=e.estimates_id
		where q.services_id=1
		group by estimates_id) cnt;
	</select> 
	
	<select id="getEstimateCont" resultType="com.itwillbs.domain.GetEstimateDTO">
		select q.contents question_cont,a.contents answer_cont,ac.name account_name
		from ESTIMATESMID e
		left join QUESTIONS q on q.id=e.question_id
		left join ANSWERS a on a.id=e.answer_id
		left join ESTIMATES es on es.id=e.estimates_id
		left join PROS p on p.id=es.pro_id
		left join ACCOUNTS ac on ac.id=es.account_id
        where e.estimates_id=#{estimates_id}
        order by e.question_id
	</select>
	
<!-- 	<select id="getBoardList" resultType="com.itwillbs.domain.GetEstimateDTO"> -->
<!-- 		select * from board order by id limit #{startRow},#{pageSize}  -->
<!-- 	</select> -->
	
<!-- 	<update id=""></update> -->
<!-- 	<delete id=""></delete> -->
<!-- 	<select id=""></select> -->

</mapper>